  /* 每一個 Todo 項目的樣式 */
  .todo-item {
    display: flex;
    align-items: center;
    background-color: white;
    border-left: 5px solid #7a8fca;  /* 最左邊有藍色邊框 */
    padding: 10px;
    justify-content: space-between;  /* 讓元素分布在兩側 */
    margin: 10px auto;
  }
  
  .todo-text {
    font-size: 16px;
    color: #899abe;
  }
  
  .todo-text.completed {
    text-decoration: line-through; /* 已完成的項目加刪除線 */
    color: #899abe;
  }
